.moves {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Formular', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}

.moves__caption {
    color: var(--color-blue);
}

.moves__count {
    color: var(--color-red);
}

.moves-made {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.moves-left {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
}
